<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>   
</head>
<body style="background-color: rgb(231, 233, 236);">
    



<form  class="form-group text-center" (ngSubmit)="add(UsuarioDetails)" #userForm="ngForm" >
    <div class="form-group">
        <h1>Creacion de cuenta</h1>
    </div>

<div class="form-group">
<label  class="form-group text-center">
    Nombre:
    <input [(ngModel)]="UsuarioDetails.nombres" class="form-control" type="text"  [ngModelOptions]="{standalone: true}" required>
</label>
</div>

<div class="form-group">
<label class="form-group text-center">
    Apellido:
    <input [(ngModel)]="UsuarioDetails.apellidos" class="form-control" type="text"  [ngModelOptions]="{standalone: true}" required>
</label>
</div>

<div class="form-group">
<label class="form-group text-center">
    Telefono:
    <input [(ngModel)]="UsuarioDetails.telefono" class="form-control" type="text" [ngModelOptions]="{standalone: true}" required>
</label>
</div>

<div class="form-group">
<label class="form-group text-center">
    Cedula:
    <input [(ngModel)]="UsuarioDetails.cedula" class="form-control" type="text" [ngModelOptions]="{standalone: true}" required>
</label>
</div>

<div class="form-group">
<label class="form-group text-center">
    Correo:
    <input [(ngModel)]="UsuarioDetails.correo" class="form-control" type="text"  [ngModelOptions]="{standalone: true}" required>
</label>
</div>

<div class="form-group">
<label class="form-group text-center">
    Contraseña:
    <input [(ngModel)]="UsuarioDetails.contrasena" class="form-control" type="text"  [ngModelOptions]="{standalone: true}" required>
</label>
</div>

<button   type="submit" [disabled]="!userForm.form.valid" class="btn btn-info btn-block" > Guardar</button>
</form>
</body>
</html>

