<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
     crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
     integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
    <p>usuarios works!</p>

<h1>Creacion de cuenta</h1>

<form [formGroup]="profileForm" (ngSubmit)="guardarDatos()"  class="form-group text-center">

<label  class="form-group text-center">
    Nombre:
    <input type="text" formControlName="nombre" class="form-group" required>
</label>

<label>
    Apellido:
    <input type="text" formControlName="apellido" required>
</label>

<label>
    Telefono:
    <input type="text" formControlName="telefono" required>
</label>

<label>
    Cedula:
    <input type="text" formControlName="cedula" required>
</label>

<label>
    Correo:
    <input type="text" formControlName="correo" required>
</label>

<label>
    Contraseña:
    <input type="text" formControlName="contrasena" required>
</label>

</form>

<button type="submit" [disabled]="!profileForm.valid">Submit</button>

</body>
</html>

