<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>Categorias</title>
</head>

<body>


    <p>productos works!</p>
    <hr>
    <div *ngFor='let producto of productos'>

        <label>Productos</label>
        <p>{{producto.stock}}</p>
        <p>{{productos[0].id }}</p>
        <p>{{productos[0].producto.nombre}}</p>
        <p>{{productos[0].producto.descripcion}}</p>
        <p>{{productos[0].producto.preciopublico}}</p>
        <p>{{productos[0].producto.preciounitario}}</p>
        <label>STOCK</label>
        <p>{{productos[0].producto.stock}}</p>
        <h2>Cantidad {{cantidad}}</h2>
        <input type='text' [(ngModel)]="cantidad">
        <button (click)="addProductos(productos[0].producto.nombre,
        productos[0].producto.descripcion,productos[0].producto.preciopublico,
        productos[0].producto.preciounitario,productos[0].producto.stock,cantidad)" class="btn btn-primary" type="submit">Order</button>

        <!--Boton para agregar productos-->
        <input type='text' [(ngModel)]="cantidad">
        <button (click)="addProductoLocalStorange(productos[0].producto.nombre,
        productos[0].producto.descripcion,productos[0].producto.preciopublico,
        productos[0].producto.preciounitario,productos[0].producto.stock,cantidad)" class="btn btn-primary" type="submit">AddProducts</button>

    </div>

</body>

<p>Tu opcion es : {{option}}</p>

</html>